<!DOCTYPE html>
<html lang="en">

<head>
  <title>Meme Info</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link href="../stylesheets/navbar.css" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/meme.css">
</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs') %>
  <section class="container">
    <div class="card">
        <img src="<%= meme.url %>" class="card-img-top" alt="<%= meme.name %>">
        <div class="card-body">
            <h5 class="card-title">ID: <%= meme.id %></h5>
            <p class="card-text">Name: <%= meme.name %></p>
            <p class="card-text">Dimensions: <%= meme.width %> x <%= meme.height %></p>
        </div>
    </div>
</section>
    <%- include('./partials/scripts.ejs') %>
</body>

</html>